---
layout: default
title: About Tale du Jour
---
<article class="postWrapper">
  <section class="section--first section--about is-darkBackgrounded u-table">
    <div class="section-backgroundImage">
        <img class="post-featuredImage" src="{{site.baseurl}}assets/images/hero/brenna.jpg" style="width: 100%; height: 100%;" alt="">
    </div>
    <div class="section-gradient"></div>
    <div class="section-title is-darkBackgrounded u-tableCell u-verticalAlignMiddle">
      <div class="container">
        <h2>Brenna Milligan</h2>
        <div class="postMeta-wrapper">
          <ul class="postMeta">
            <li class="postMeta-author">
              <img src="/assets/images/location-white.png" height=20px width=20px/> Chicago, IL, USA
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section--last">
    <div class="container container--content">
      <div class="content-body">
        <h4>About</h4>
        <p>Hey there! I'm Brenna, a college undergrad with an innate desire for travel. I'm an Electrical and Computer Engineering and Computer Science double major at Duke University, from Chicago, Illinois, and still (barely) hanging on to my last teenage year. I decided when I was in middle school that I <i>had</i> to study abroad in college, so I meticulously planned and accounted for years. Now my dream is about to become reality, and I'm so excited. I'll be heading to Madrid, Spain, for the spring semester of 2016, and Seoul, South Korea for the fall semester of 2016. I started this blog mostly for myself, so I could keep a nice record of my adventures and mishaps, but I'm hoping it will inspire others to either take the leap and study abroad or identify with what I write.</p>
        <p>I don't know the answers to life. I don't know what I'm looking for in going abroad. I don't know a lot of things. Tale du Jour will be my creative outlet in attempting to answer these unknowns and uncover what I didn't even know I didn't know. I hope you enjoy reading about my travels and are inspired to take up adventure in your every day life.</p>
        <hr />
        <blockquote class="largeQuote">“For what it's worth: It's never too late to be whoever you want to be. I hope you live a life you're proud of, and, if you find that you're not, I hope you have the strength to start over.” - F. Scott Fitzgerald</blockquote>
        <hr />
        </p>
      </div>
    </div>
  </section>
</article>
<hr/>
{% include subscribe.html %}
{% include footer.html %}
